name: manage_calendar_events
description: A flutter plugin which will help you to add, edit and remove the events (with reminders) from your (Android and ios) calendars
version: 2.0.1
homepage: https://github.com/lakshmanaprabhu/manage_calendar_events

environment:
  sdk: '>=2.12.0 <3.0.0'
  # Flutter versions prior to 1.12 did not support the
  # flutter.plugin.platforms map.
  flutter: ">=1.12.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The androidPackage and pluginClass identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.fantastic.manage_calendar_events
        pluginClass: ManageCalendarEventsPlugin
      ios:
        pluginClass: ManageCalendarEventsPlugin

